.root {
    background-color: darkslateblue;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all ease .3s;

    &:hover {
        background-color: darkmagenta;
    }

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}