.root {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
}

.formControl {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid lightpink;
    border-radius: 5px;
}

textarea.formControl {
    resize: none;
}

.submitBtn {
    align-self: center;
}